// _variables.scss

// Colors
$white: #fff;
$blue: #566473;


// Type
$font: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$bold: 700;
$regular: 400;
$light: 300;

// Sizing
$large-size: 30px;
$medium-size: 18px;
$tiny-size: 14px;
